<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GeoLocation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>getLocation</display-name>
    <servlet-name>getLocation</servlet-name>
    <servlet-class>com.getLocation.getLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getLocation</servlet-name>
    <url-pattern>/getLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLocation</display-name>
    <servlet-name>GetLocation</servlet-name>
    <servlet-class>com.getLocation.GetLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLocation</servlet-name>
    <url-pattern>/GetLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mapboxService</display-name>
    <servlet-name>mapboxService</servlet-name>
    <servlet-class>com.getLocation.serivces.mapboxService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mapboxService</servlet-name>
    <url-pattern>/mapboxService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>openWeatherMapServices</display-name>
    <servlet-name>openWeatherMapServices</servlet-name>
    <servlet-class>com.getLocation.serivces.openWeatherMapServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>openWeatherMapServices</servlet-name>
    <url-pattern>/openWeatherMapServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getWeather</display-name>
    <servlet-name>getWeather</servlet-name>
    <servlet-class>com.getLocation.getWeather</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getWeather</servlet-name>
    <url-pattern>/getWeather</url-pattern>
  </servlet-mapping>
</web-app>